version: "3.8"

services:

  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins-am
    user: root
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - cicd
    restart: always

  sonarqube:
    image: sonarqube:lts
    container_name: sonarqube-am
    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS=false
    ports:
      - "9000:9000"
    volumes:
      - sonar_data:/opt/sonarqube/data
      - sonar_extensions:/opt/sonarqube/extensions
      - sonar_logs:/opt/sonarqube/logs
    networks:
      - cicd
    restart: always

volumes:
  jenkins_home:
  sonar_data:
  sonar_extensions:
  sonar_logs:

networks:
  cicd:
    driver: bridge
